body {
  background: #000000;
}

h1 {
  text-align: center;
  font-size: 135px;
  color: #ffffff
}

p {
  color:#ffffff;
  font-size: 70px;
  text-align: center;
  position: relative;
  padding-left: 2px;
  margin-right: -430px;
}

button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.um {
  background: #1e1e1e;
  padding: 3.8%;
}

.dois { 
  background-color: #2e2e2e;
  padding: 3.8%;
  font-size: 10px;
}

.tres {
  background-color: #1e1e1e;
  padding: 13%;
  overflow: hidden;
}

.quatro {
  display: flex;
  align-items: 300px 300px 300px;
  background-color: #2e2e2e;
  padding: 13%;  
}

.divsclaro {
background-color: #c2c7d1;
}

.divsdoisclaro {
  background-color: #dcdfe4;
}

.h1claro {
  color: #000000
}

.pclaro {
  color:#000000
}

.bodyclaro {
  background: #ffffff;
}